/* src/components/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-superficie); /* <-- CAMBIO AQUÃ */
  box-shadow: var(--sombra-suave);
}


.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primario);
}

.links a {
  margin: 0 1rem;
  color: var(--color-texto);
  font-weight: 500;
}

.cartLink {
  font-weight: bold;
}